@using Tictactoe.Model
@inject Model.Settings GameSettings
@page "/settings"

<h1>Settings</h1>

<div class="card" style="width: 18rem;">
  <div class="card-header bg-primary text-light">
    Computer Player Mode
  </div>
    <div class="card-body text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn @GetCurrentComputerPlayerModeCssClass(ComputerPlayerMode.Random)" @onclick="() => SaveComputerPlayerMode(ComputerPlayerMode.Random)" >@ComputerPlayerMode.Random.ToString()</button>
            <button type="button" class="btn @GetCurrentComputerPlayerModeCssClass(ComputerPlayerMode.Smart)" @onclick="() => SaveComputerPlayerMode(ComputerPlayerMode.Smart)">@ComputerPlayerMode.Smart.ToString()</button>
            <button type="button" class="btn @GetCurrentComputerPlayerModeCssClass(ComputerPlayerMode.AI)" disabled @onclick="() => SaveComputerPlayerMode(ComputerPlayerMode.AI)">@ComputerPlayerMode.AI.ToString()</button>
        </div>
   </div>
</div>

@code{

    private void SaveComputerPlayerMode(ComputerPlayerMode mode)
    {
        GameSettings.ComputerPlayerMode = mode;
    }

    public string GetCurrentComputerPlayerModeCssClass(ComputerPlayerMode mode)
    {
        return mode == GameSettings.ComputerPlayerMode ? "btn-success" : "btn-secondary";
    }
}

